<div class="candidate-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-action-bar" class="jumbotron">
        <select id="search-congressional-delegation" onchange="fn.scrollToRep(this.value);">
            <option value="#return-to-top">Scroll to your representative</option>
            {{#objects}}
                {{#if viewonexecutiveorder}}
                    <option value="#{{firstname}}_{{lastname}}">{{firstname}} {{lastname}}</option>
                {{else}}
                {{/if}}
            {{/objects}}
        </select>
    </div>
    {{#objects}}
        {{#if viewonexecutiveorder}}
            <a href="{{reptrackerurl}}" target="_blank"><h6>{{position}} {{firstname}} {{lastname}} ({{party}}-{{district}})</h6></a>
            <div class="row">
                <div id="{{firstname}}_{{lastname}}" class="response col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="image-container" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <dl>
                            <dd>

                                <div class="img">
                                    <a href="{{reptrackerurl}}" target="_blank"><img class="placemark" src="{{imageurl}}" alt="{{position}}_{{firstname}}_{{lastname}}" /></a>
                                </div>
                                <div class="text">
                                    <p>California District {{districtid}}</p>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <dl>
                            <dd>
                                {{#if viewonexecutiveorder}}
                                    <div class="quote">
                                        <p>{{viewonexecutiveorder}}</p>
                                        {{#if sourceurl}}
                                            <p><a href="{{sourceurl}}">- {{source}}</a></p>
                                        {{else}}
                                            <p> - {{source}}</p>
                                        {{/if}}
                                    </div><!-- End blockquote -->
                                {{else}}
                                {{/if}}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <hr/>
        {{else}}
        {{/if}}
    {{/objects}}
	</div>