<div class="map-data-display">
    <p>{{school_name}}</p>
    <p>{{location}}</p>
    <p>{{school_phone}}</p>
    <p>{{website}}</p>
    <p>{{contact_name}}</p>
    <p>{{contact_phone}}</p>
    <p>{{contact_email}}</p>
    <p>{{partner_language_1}}</p>
    <p>{{partner_language_2}}</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>K</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{grade_K}}</td>
        <td>{{grade_1}}</td>
        <td>{{grade_2}}</td>
        <td>{{grade_3}}</td>
        <td>{{grade_4}}</td>
        <td>{{grade_5}}</td>
        <td>{{grade_6}}</td>
        <td>{{grade_7}}</td>
        <td>{{grade_8}}</td>
        <td>{{grade_9}}</td>
        <td>{{grade_10}}</td>
        <td>{{grade_11}}</td>
        <td>{{grade_12}}</td>
    </tr>
  </tbody>
</table>


    <p>{{students_on_free_reduced_lunch}}</p>
    <p>{{third_language}}</p>
    <p>{{year_program_started}}</p>
    <p>{{program_model}}</p>
    <p>{{EL}}</p>
    <p>{{IEP}}</p>
    <p>{{resource_1}}</p>
    <p>{{cost_1}}</p>
    <p>{{access/purchase_1}}</p>
    <p>{{resource_2}}</p>
    <p>{{cost_2}}</p>
    <p>{{access/purchase_2}}</p>
    <p>{{resource_3}}</p>
    <p>{{cost_3}}</p>
    <p>{{access/purchase_3}}</p>
    <p>{{resource_4}}</p>
    <p>{{cost_4}}</p>
    <p>{{access/purchase_4}}</p>
    <p>{{biliteracy_seal}}</p>
    <p>{{since_when}}</p>
    <p>{{special_recognition}}</p>
</div>