<div id="content-explainer"></div>

<!-- begin -->
<div class="candidate-container">

    {{#objects}}
        <!-- begin row -->
        <div id="{{first_name}}_{{last_name}}" class="row-fluid" style="padding: 25px 0 15px 0;">

            <!-- begin candidate -->
            <div class="span12">
                <div class="span2">
                    <img src="{{image_url}}" alt="{{position}}_{{first_name}}_{{last_name}}" width="100px" height="150px" />
                </div>

                <div class="span10">
                    <h4>{{position}}. {{first_name}} {{last_name}} ({{party}}-{{district}})</h4>
                    <p><strong>Owns a firearm</strong>: {{owns_firearm}}</p>

                    {{#if comment}}
                        <p><strong>Says {{last_name}}</strong>: "{{comment}}"</p>
                    {{else}}

                    {{/if}}

                    {{#if supporting_specific_proposals}}
                        <p><strong>Will support the following</strong>: {{supporting_specific_proposals}}</p>
                    {{else}}

                    {{/if}}
                </div>
            </div>
            <!-- end candidate -->

        </div>
        <!-- end row -->
    <hr>
    {{/objects}}

</div>
<!-- end -->