<!-- begin -->
<div class="candidate-container">

    <!-- begin row -->
    <div class="row-fluid">

        <!-- begin candidate -->
        <div class="span12">
            <div class="span2">
                <img src="http://projects.scpr.org/static/static-files/images/la-mayors-race/mug_eric_garcetti.jpg" alt="Eric Garcetti" />
            </div>
            <div class="span10">
                {{#objects}}
                    {{#is candidate 'Eric Garcetti'}}
                        <h3>{{candidate}} ($42,580)</h3>

                        <div class="row-fluid">
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                        </div>
                    {{/is}}
                {{/objects}}
            </div>
        </div>
        <!-- end candidate -->
    </div>
    <!-- end row -->

    <br clear="all">

    <!-- begin row -->
    <div class="row-fluid">

        <!-- begin candidate -->
        <div class="span12">
            <div class="span2">
                <img src="http://projects.scpr.org/static/static-files/images/la-mayors-race/mug_wendy_greuel.jpg" alt="Wendy Greuel" />
            </div>
            <div class="span10">
                {{#objects}}
                    {{#is candidate 'Wendy Greuel'}}
                        <h3>{{candidate}} ($21,060)</h3>

                        <div class="row-fluid">
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                        </div>
                    {{/is}}
                {{/objects}}
            </div>
        </div>
        <!-- end candidate -->
    </div>
    <!-- end row -->

    <br clear="all">

    <!-- begin row -->
    <div class="row-fluid">

        <!-- begin candidate -->
        <div class="span12">
            <div class="span2">
                <img src="http://projects.scpr.org/static/static-files/images/la-mayors-race/mug_austin_beutner.jpg" alt="Austin Beutner" />
            </div>
            <div class="span10">
                {{#objects}}
                    {{#is candidate 'Austin Beutner'}}
                        <h3>{{candidate}} ($4,850 - has left race)</h3>
                        <div class="row-fluid">
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                        </div>
                    {{/is}}
                {{/objects}}
            </div>
        </div>
        <!-- end candidate -->
    </div>
    <!-- end row -->

    <br clear="all">

    <!-- begin row -->
    <div class="row-fluid">

        <!-- begin candidate -->
        <div class="span12">
            <div class="span2">
                <img src="http://projects.scpr.org/static/static-files/images/la-mayors-race/mug_kevin_james.jpg" alt="Kevin James" />
            </div>
            <div class="span10">
                {{#objects}}
                    {{#is candidate 'Kevin James'}}
                        <h3>{{candidate}} ($4,900)</h3>
                        <div class="row-fluid">
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                            <div class="span3">
                                <ul>
                                {{#donors}}
                                    {{#gte donorContribution 500}}
                                        <li><strong>{{donorName}}</strong>: ${{addCommas donorContribution}}</li>
                                    {{else}}
                                    {{/gte}}
                                {{/donors}}
                                </ul>
                            </div>
                        </div>
                    {{/is}}
                {{/objects}}
            </div>
        </div>
        <!-- end candidate -->
    </div>
    <!-- end row -->

    <br clear="all">

</div>
<!-- end -->