<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <div class="span12">
            <h3>Best Picture</h3><br />
            <div class="row-fluid">
                {{#objects}}
                    {{#is category 'Best Picture'}}
                    {{#is row '1'}}
                    <div class="span4">
                        <div id="award-category-container">
                            <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                            <p class="centered"><strong>{{nominee}}</strong></p>
                            {{#if awardswon}}
                                <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                            {{else}}
                                <p>&nbsp;</p>
                            {{/if}}
                            {{#if prediction}}
                                <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                            {{else}}
                            {{/if}}
                            <p class="centered">
                                {{#if imdbpage}}
                                    <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                {{else}}
                                {{/if}}
                                {{#if trailer}}
                                    <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                {{else}}
                                {{/if}}
                                {{#if officialsite}}
                                    <a href="{{officialsite}}" target="_blank">Official Site</a>
                                {{else}}
                                {{/if}}
                            </p>
                        </div>
                    </div>
                    {{/is}}
                    {{/is}}
                {{/objects}}
            </div>
            <br />
            <div class="row-fluid">
                {{#objects}}
                    {{#is category 'Best Picture'}}
                    {{#is row '2'}}
                    <div class="span4">
                        <div id="award-category-container">
                            <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                            <p class="centered"><strong>{{nominee}}</strong></p>
                            {{#if awardswon}}
                                <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                            {{else}}
                                <p>&nbsp;</p>
                            {{/if}}
                            {{#if prediction}}
                                <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                            {{else}}
                            {{/if}}
                            <p class="centered">
                                {{#if imdbpage}}
                                    <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                {{else}}
                                {{/if}}
                                {{#if trailer}}
                                    <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                {{else}}
                                {{/if}}
                                {{#if officialsite}}
                                    <a href="{{officialsite}}" target="_blank">Official Site</a>
                                {{else}}
                                {{/if}}
                            </p>
                        </div>
                    </div>
                    {{/is}}
                    {{/is}}
                {{/objects}}
            </div>
            <br />
            <div class="row-fluid">
                {{#objects}}
                    {{#is category 'Best Picture'}}
                    {{#is row '3'}}
                    <div class="span4">
                        <div id="award-category-container">
                            <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                            <p class="centered"><strong>{{nominee}}</strong></p>
                            {{#if awardswon}}
                                <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                            {{else}}
                                <p>&nbsp;</p>
                            {{/if}}
                            {{#if prediction}}
                                <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                            {{else}}
                            {{/if}}
                            <p class="centered">
                                {{#if imdbpage}}
                                    <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                {{else}}
                                {{/if}}
                                {{#if trailer}}
                                    <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                {{else}}
                                {{/if}}
                                {{#if officialsite}}
                                    <a href="{{officialsite}}" target="_blank">Official Site</a>
                                {{else}}
                                {{/if}}
                            </p>
                        </div>
                    </div>
                    {{/is}}
                    {{/is}}
                {{/objects}}
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<br clear="all">

<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <div class="span12">
            <h3>Best Actress</h3><br />
                <div class="row-fluid">
                    {{#objects}}
                        {{#is category 'Best Actress'}}
                        {{#is row '1'}}
                        <div class="span4">
                            <div id="award-category-container">
                                <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                                <p class="centered"><strong>{{nominee}}</strong><br />({{movie}})</p>
                                {{#if awardswon}}
                                    <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                                {{else}}
                                    <p>&nbsp;</p>
                                {{/if}}
                                {{#if prediction}}
                                    <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                                {{else}}
                                {{/if}}
                                <p class="centered">
                                    {{#if imdbpage}}
                                        <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if trailer}}
                                        <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if officialsite}}
                                        <a href="{{officialsite}}" target="_blank">Official Site</a>
                                    {{else}}
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                        {{/is}}
                        {{/is}}
                    {{/objects}}
                </div>
                <br />
                <div class="row-fluid">
                    {{#objects}}
                        {{#is category 'Best Actress'}}
                        {{#is row '2'}}
                        <div class="span4">
                            <div id="award-category-container">
                                <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                                <p class="centered"><strong>{{nominee}}</strong><br />({{movie}})</p>
                                {{#if awardswon}}
                                    <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                                {{else}}
                                    <p>&nbsp;</p>
                                {{/if}}
                                {{#if prediction}}
                                    <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                                {{else}}
                                {{/if}}
                                <p class="centered">
                                    {{#if imdbpage}}
                                        <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if trailer}}
                                        <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if officialsite}}
                                        <a href="{{officialsite}}" target="_blank">Official Site</a>
                                    {{else}}
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                        {{/is}}
                        {{/is}}
                    {{/objects}}
                </div>
        </div>
    </div>
</div>
<!-- end row -->

<br clear="all">

<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <div class="span12">
            <h3>Best Actor</h3><br />
                <div class="row-fluid">
                    {{#objects}}
                        {{#is category 'Best Actor'}}
                        {{#is row '1'}}
                        <div class="span4">
                            <div id="award-category-container">
                                <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                                <p class="centered"><strong>{{nominee}}</strong><br />({{movie}})</p>
                                {{#if awardswon}}
                                    <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                                {{else}}
                                    <p>&nbsp;</p>
                                {{/if}}
                                {{#if prediction}}
                                    <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                                {{else}}
                                {{/if}}
                                <p class="centered">
                                    {{#if imdbpage}}
                                        <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if trailer}}
                                        <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if officialsite}}
                                        <a href="{{officialsite}}" target="_blank">Official Site</a>
                                    {{else}}
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                        {{/is}}
                        {{/is}}
                    {{/objects}}
                </div>
                <br />
                <div class="row-fluid">
                    {{#objects}}
                        {{#is category 'Best Actor'}}
                        {{#is row '2'}}
                        <div class="span4">
                            <div id="award-category-container">
                                <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                                <p class="centered"><strong>{{nominee}}</strong><br />({{movie}})</p>
                                {{#if awardswon}}
                                    <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                                {{else}}
                                    <p>&nbsp;</p>
                                {{/if}}
                                {{#if prediction}}
                                    <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                                {{else}}
                                {{/if}}
                                <p class="centered">
                                    {{#if imdbpage}}
                                        <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if trailer}}
                                        <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if officialsite}}
                                        <a href="{{officialsite}}" target="_blank">Official Site</a>
                                    {{else}}
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                        {{/is}}
                        {{/is}}
                    {{/objects}}
                </div>
        </div>
    </div>
</div>
<!-- end row -->

<br clear="all">

<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <div class="span12">
            <h3>Best Director</h3><br />
                <div class="row-fluid">
                    {{#objects}}
                        {{#is category 'Best Director'}}
                        {{#is row '1'}}
                        <div class="span4">
                            <div id="award-category-container">
                                <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                                <p class="centered"><strong>{{nominee}}</strong><br />({{movie}})</p>
                                {{#if awardswon}}
                                    <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                                {{else}}
                                    <p>&nbsp;</p>
                                {{/if}}
                                {{#if prediction}}
                                    <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                                {{else}}
                                {{/if}}
                                <p class="centered">
                                    {{#if imdbpage}}
                                        <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if trailer}}
                                        <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if officialsite}}
                                        <a href="{{officialsite}}" target="_blank">Official Site</a>
                                    {{else}}
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                        {{/is}}
                        {{/is}}
                    {{/objects}}
                </div>
                <br />
                <div class="row-fluid">
                    {{#objects}}
                        {{#is category 'Best Director'}}
                        {{#is row '2'}}
                        <div class="span4">
                            <div id="award-category-container">
                                <img class="best-picture" src="{{movieimage}}" alt="{{nominee}}" />
                                <p class="centered"><strong>{{nominee}}</strong><br />({{movie}})</p>
                                {{#if awardswon}}
                                    <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                                {{else}}
                                    <p>&nbsp;</p>
                                {{/if}}
                                {{#if prediction}}
                                    <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                                {{else}}
                                {{/if}}
                                <p class="centered">
                                    {{#if imdbpage}}
                                        <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if trailer}}
                                        <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                                    {{else}}
                                    {{/if}}
                                    {{#if officialsite}}
                                        <a href="{{officialsite}}" target="_blank">Official Site</a>
                                    {{else}}
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                        {{/is}}
                        {{/is}}
                    {{/objects}}
                </div>
        </div>
    </div>
</div>
<!-- end row -->

<br clear="all">