<div id="details-about-projects">
    <h4>{{project_name}}</h4>
    <p>{{project_address}}</p>
    <p><strong>About this project</strong>:<br />
    {{project_description}}</p>
    <ul>
        {{#if project_status}}
            <li><strong>Project Status</strong>: {{project_status}}</li>
        {{else}}
            <li>&nbsp;</li>
        {{/if}}

        {{#if estimated_completion}}
            <li><strong>Estimated Completion Date</strong>: {{estimated_completion}}</li>
        {{else}}
            <li>&nbsp;</li>
        {{/if}}

        {{#if project_cost}}
            <li><strong>Project Cost</strong>: {{project_cost}}</li>
        {{else}}
            <li>&nbsp;</li>
        {{/if}}

        {{#if operating_hours}}
            <li><strong>Hours</strong>: {{operating_hours}}</li>
        {{else}}
            <li>&nbsp;</li>
        {{/if}}
    </ul>

<!--
    <div style="margin: 10px 0 25px 0;">
        <img src="http://maps.googleapis.com/maps/api/streetview?size=600x300&location={{latitude}},{{longitude}}&sensor=false" />
    </div>
-->

    {{#if read_more}}
        <p><a class="btn btn-success" href="{{read_more}}" target="_blank">Read about this development project</a></p>
    {{else}}
        <p>&nbsp;</p>
    {{/if}}
</div>