<div>
    <h4>{{project_name}}</h4>
    <p><strong>About this project</strong>:<br />
    {{project_description}}</p>
    <ul>
        <li><strong>Status</strong>: {{project_status}}</li>
        <li><strong>Estimated Completion Date</strong>: {{estimated_completion}}</li>
    </ul>

    {{#if read_more}}
        <p><a class="btn btn-success" href="{{read_more}}" target="_blank">Read More</a></p>
    {{else}}
        <p>&nbsp;</p>
    {{/if}}











    <p>{{project_type}}</p>
    <p>{{project_identifier}}</p>
    <p>{{project_type_marker}}</p>
    <p>{{status_type}}</p>
    <p>{{status_identifier}}</p>


    <p>{{project_street}}</p>
    <p>{{project_city}}</p>
    <p>{{project_state}}</p>
    <p>{{project_zip_code}}</p>
    <p>{{project_address}}</p>
    <p>{{latitude}}</p>
    <p>{{longitude}}</p>
    <p>{{geocoded_location}}</p>
    <p>{{operating_hours}}</p>
    <p>{{project_cost}}</p>
    <p>{{notes}}</p>


</div>