<!-- begin -->
<div class="candidate-container">

    {{#objects}}
        <!-- begin row -->
        <div class="row-fluid">

            <!-- begin main span -->
            <div class="span12">

                <!-- begin candidate container -->
                <div id="{{firstname}}_{{lastname}}" class="row-fluid" style="padding: 25px 0 15px 0;">

                    <!-- begin span -->
                    <div class="span2">
                        <dl>
                            <dd>
                                <div class="img">
                                    <img src="{{imageurl}}" alt="{{position}}_{{firstname}}_{{lastname}}" width="120px" height="170px" />
                                </div>
                                <div class="text"><p class="data-instructions"><strong>{{position}} {{lastname}}</strong></p></div>
                            </dd>
                        </dl>
                    </div>
                    <!-- end span -->

                    <!-- begin span -->
                    <div class="span10">
                        <dl>
                            <dd>
                                <h3>{{position}} {{firstname}} {{lastname}} ({{party}}-{{district}})</h3>
                            </dd>
                            <dd>
                                {{#if viewonsyria}}
                                    <p><strong>View on Syria</strong>: {{viewonsyria}}</p>
                                    <p><strong>Source</strong>: {{source}}</p>
                                {{else}}
                                    <p></p>
                                {{/if}}
                            </dd>
                        </dl>
                    </div>
                    <!-- end span -->

                </div>
                <!-- end candidate container -->

            </div>
            <!-- end main span -->

        </div>
        <!-- end row -->
    {{/objects}}

</div>
<!-- end -->