    <!-- begin row -->
    <div class="row-fluid">
        <p>{{full_name}} from {{town_or_city}} describes their voting experience as {{describe_voting_experience}}:<br />
        "{{voting_experience_narrative}}"</p>
        <p><strong>Polling location</strong>: {{polling_place}}</p>
        <p><strong>Submitted</strong>: {{timestamp}}</p>
    </div>
    <!-- end row -->