    <!-- begin row -->
    <div class="row-fluid">

        <p>{{timestamp}}</p>
        <p>{{polling_place}}</p>
        <p>{{voting_experience_narrative}}</p>
        <p>{{full_name}}</p>
        <p>{{town_or_city}}</p>
        <p>{{email_address}}</p>
        <p>{{describe_voting_experience}}</p>
        <p>{{map_marker}}</p>

    </div>
    <!-- end row -->
