<div class="span6">
    <div id="content-explainer">
        <p><span class="data-instructions"><strong>About This: </strong>This chart shows the rate of suicide in California Department of Corrections and Rehabilitation prisons per 100,000 inmates between the years of 1999 and 2012.</span></p>
    </div>
    <div id="content-display">
        <p><strong>Hover over the chart for more information</strong></p>
        <p><strong>Placeholder text goes here</strong></p>
    </div>
</div>

<div class="span6">
    <ul class="chartlist">
        {{#objects}}
            <li id="{{year}}">
                <a href="#">{{year}}</a>
                <span class="count">{{ratenumber}}</span>
                <span class="index" style="width: {{ratenumber}}%">({{ratenumber}})</span>
            </li>
        {{/objects}}
    </ul>
</div>

<script type="text/javascript">
var jqueryNoConflict = jQuery;

//begin main function
jqueryNoConflict(document).ready(function(){
    getValueOfListElement();
});
//end main function

function getValueOfListElement(){
    $('li').click(function (){
            var idFromListElement = this.id;
            var dataSource = 'static-files/data/cdcr_suicide_data-handlebars.json';
            jqueryNoConflict.getJSON(dataSource, function(data){

               // begin for loop
                for (var i=0; i<data.objects.length; i++) {

                    // begin if statement
                    if (data.objects[i].year === idFromListElement){
                        var myQueriedDataObject = {
                            numberofsuicides: data.objects[i].numberofsuicides,
                            percapitasuiciderate: data.objects[i].percapitasuiciderate,
                            prisonpopulation: data.objects[i].prisonpopulation,
                            ratenumber: data.objects[i].ratenumber,
                            year: data.objects[i].year
                        };
                    }
                    // close if statement

                }
                // end loop

                var handlebarsData = {
                    objects: myQueriedDataObject
                };

                renderHandlebarsTemplate('static-files/templates/content-display.handlebars', '#content-display', handlebarsData);
            });
        }
    );
};
</script>