<select id="search-congressional-delegation" onchange="scrollToRep(this.value);">
    <option value="#data-details">Scroll to an instance</option>
    {{#objects}}
        <option value="#{{speaker_first}}_{{speaker_last}}_{{number}}">{{speaker_first}} {{speaker_last}} ({{speaker_party}}) - {{dateFormat date}}</option>
    {{/objects}}
</select>

<script type="text/javascript">
$(document).ready(function() {
    $(window).scroll(function(){

        var barWidth = $('#data-legend').width();

        var aboveHeight;

        if (navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i)){
            aboveHeight = $('#content-action-bar').outerHeight();
        } else {
            aboveHeight = $('header').outerHeight();
        }

		//if scrolled down more than the varibles's height
        if ($(window).scrollTop() > aboveHeight){

			// if yes, add "fixed" class to the <nav>
			// add padding top to the #content (value is same as the height of the nav)
            $('#content-action-bar').addClass('fixed').css('width', barWidth);

        } else {

			// when scroll up or less than aboveHeight, remove the "fixed" class, and the padding-top
            $('#content-action-bar').removeClass('fixed').css('width', 'width: 100%;');
        }
    });
});
</script>