{{debug}}

<div class="row-fluid">
    <div class="span12">

    {{#everyNth objects 3}}
        {{#if isModZeroNotFirst}}
            </div>
        {{/if}}

        {{#if isModZero}}
            <div class="row-fluid">
        {{/if}}

            {{#if primarycity}}
            <!-- begin cell -->
                <div class="span4 dear-mayor-response {{lowercase responsesf6d5d1c2d738}}">
                    <p><img src="{{marker}}" /><span class="kicker"><strong> {{responsesf6d5d1c2d738}}</strong></span></p>
                    <p><img src="http://maps.googleapis.com/maps/api/staticmap?center={{primarylat}},{{primarylong}}&zoom=12&size=300x300&maptype=roadmap
                &markers=color:blue%7C{{primarylat}},{{primarylong}}&sensor=false&key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8" /></p>
                    <p><strong>{{srcfirstname}} {{srclastname}}</strong> from <strong>{{primarycity}}</strong>:</p>
                    <p>{{responses9200af1a79cb}}</p>

                    {{#if responsesdb10ff019c5a}}
                        <p><strong>{{questionsdb10ff019c5avalue}}</strong><br />{{responsesdb10ff019c5a}}</p>
                    {{else}}
                    {{/if}}
                    <p class="data-instructions">Submitted {{timeago srsdate}}</p>
                </div>
                <!-- end cell -->
            {{else}}
            <!-- begin cell -->
                <div class="span4 dear-mayor-response {{lowercase responsesf6d5d1c2d738}}">
                    <p><img src="{{marker}}" /><span class="kicker"><strong> {{responsesf6d5d1c2d738}}</strong></span></p>
                    <p><img src="http://projects.scpr.org/static/static-files/images/series-icons/dear_mayor.png" width="300" /></p>
                    <p><strong>{{srcfirstname}} {{srclastname}}</strong>:</p>
                    <p>{{responses9200af1a79cb}}</p>

                    {{#if responsesdb10ff019c5a}}
                        <p><strong>{{questionsdb10ff019c5avalue}}</strong><br />{{responsesdb10ff019c5a}}</p>
                    {{else}}
                    {{/if}}
                    <p class="data-instructions">Submitted {{timeago srsdate}}</p>
                </div>
            <!-- end cell -->
            {{/if}}

        {{#if isLast}}
            </div>
        {{/if}}

    {{/everyNth}}

    </div>
</div>