{{#objects}}
    <div class="col-md-12">
        <div id="{{speaker_first}}_{{speaker_last}}_{{number}}"></div>
    </div>

    <!-- begin row -->
    <div class="row">

        <!-- begin main span -->
            <div class="col-md-1 col-md-offset-1">
                <dl>
                    <dd>
                        <div class="legi-img">
                            <img src="{{speaker_image_url}}" alt="{{speaker_first}}_{{speaker_last}}" width="90px" class="responsive" />
                        </div>
                        <div class="legi-text">
                            <p class="small-writing"><strong>{{speaker_first}} {{speaker_last}}</strong></p>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-9">
                <dl>
                    <dd>
                        <h4>{{speaker_reference}}</h4>
                    </dd>
                    <dd>
                        <p class="small-writing">From remarks titled <strong>{{title}}</strong>, spoken on {{dateFormat date}} in the {{chamber}}.</p>
                        <div class="speech-text">
                            {{#each speaking}}
                                <p>{{this}}</p>
                            {{/each}}
                        </div>
                        <p><a href="{{origin_url}}" target="_blank"><strong>Read Source</strong></a></p>
                    </dd>
                </dl>
            </div>

        <!-- end main span -->

    </div>
    <!-- end row -->
    <hr>
{{/objects}}
