{{#objects}}
    {{#if projectorder}}
            <h3>{{projecttitle}}</h3>
            <p><span class="data-instructions">{{projectbylines}} - {{projectcreated}}</span></p>
            <!-- <p><img src="{{projectimage}}" alt="{{projecttitle}}" /></p> -->
            <p>{{projectdescription}}</p>
                {{#if readmoreurl}}
                    <a class="btn btn-warning" href="{{projecturl}}" target="_blank">View Project</a>
                    <a class="btn btn-info" href="{{readmoreurl}}" target="_blank">Read More</a>
                {{else}}
                    <a class="btn btn-warning" href="{{projecturl}}" target="_blank">View Project</a>
                {{/if}}
            <hr>
    {{else}}
    {{/if}}
{{/objects}}