{{debug}}

<a id="Crime &amp; Public Safety">
    <h3 class="section-title">Crime &amp; Public Safety</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Crime & Public Safety'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}


<a id="Culture">
    <h3 class="section-title">Culture</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Culture'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Economy &amp; Money">
    <h3 class="section-title">Economy &amp; Money</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Economy & Money'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Education">
    <h3 class="section-title">Education</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Education'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Environment &amp; Science">
    <h3 class="section-title">Environment &amp; Science</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Environment & Science'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="General">
    <h3 class="section-title">General</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'General'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Health">
    <h3 class="section-title">Health</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Health'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Politics">
    <h3 class="section-title">Politics</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Politics'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Seasonal">
    <h3 class="section-title">Seasonal</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Seasonal'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Transportation">
    <h3 class="section-title">Transportation</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Transportation'}}
                <div class="{{projecttopic}}">
                    <h4 class="kicker">{{projecttype}}</h4>
                    <div class="row-fluid">
                        {{#if projectimage}}
                            <div class="span3">
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="span3"></div>
                            <div class="span9">
                                <h2><a href="{{projecturl}}" target="_blank">{{projecttitle}}</a></h2>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{projectdescription}}</p>
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                                {{#if readmoreurl}}
                                    <a class="" href="{{readmoreurl}}" target="_blank"><strong>Read More</strong></a>
                                {{else}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}