{{debug}}

<!-- begin row -->
<div class="row-fluid">
    {{#objects}}
    <p><strong>{{src_first_name}} {{src_last_name}}</strong> from {{primary_city}} says "{{responses.f2c1da7d3772}}"</p>
    {{/objects}}
</div>
<!-- end row -->