{{debug}}

{{#objects}}
    <h5>In {{year}}, the California Department of Corrections and Rehabilitation housed {{prisonpopulation}} prisoners, {{numberofsuicides}} of whom committed suicide, for a {{percapitasuiciderate}} prisoners.</h5>
{{/objects}}