<script type="text/javascript">

    var jqueryNoConflict = jQuery;

    //begin main function
    jqueryNoConflict(document).ready(function(){
        getValueOfListElement();
    });
    //end main function

    function getValueOfListElement(){
        $('li').click(function (){
                var idFromListElement = this.id;
                var dataSource = 'static-files/data/cdcr_suicide_data-handlebars.json';
                jqueryNoConflict.getJSON(dataSource, function(data){

                   // begin for loop
                    for (var i=0; i<data.objects.length; i++) {

                        // begin if statement
                        if (data.objects[i].year === idFromListElement){
                            var myQueriedDataObject = {
                                numberofsuicides: data.objects[i].numberofsuicides,
                                percapitasuiciderate: data.objects[i].percapitasuiciderate,
                                prisonpopulation: data.objects[i].prisonpopulation,
                                ratenumber: data.objects[i].ratenumber,
                                year: data.objects[i].year
                            };
                        }
                        // close if statement

                    }
                    // end loop

                    var handlebarsData = {
                        objects: myQueriedDataObject
                    };

                    renderHandlebarsTemplate('static-files/templates/content-display.handlebars', '#content-display', handlebarsData);
                });
            }
        );
    };


    jqueryNoConflict('.carousel').carousel({
        pause: true,
        interval: false
    });

    // block navigation for carousel: http://jsfiddle.net/juddlyon/Q2TYv/10/
    jqueryNoConflict('.carousel-linked-nav > li > a').click(function() {

        // grab href, remove pound sign, convert to number
        var item = Number(jqueryNoConflict(this).attr('href').substring(1));

        // slide to number -1 (account for zero indexing)
        jqueryNoConflict('#myCarousel').carousel(item - 1);

        // remove current active class
        jqueryNoConflict('.carousel-linked-nav .active').removeClass('active');

        // add active class to just clicked on item
        jqueryNoConflict(this).parent().addClass('active');

        // don't follow the link
        return false;
    });

    // bind 'slide' index to block navigation
    jqueryNoConflict('#myCarousel').bind('slid', function() {

        // remove active class
        jqueryNoConflict('.carousel-linked-nav .active').removeClass('active');

        // get index of currently active item
        var idx = $('#myCarousel .item.active').index();

        // select currently active item and add active class
        jqueryNoConflict('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');

    });
</script>

<div class="row-fluid">
    <div class="span8 offset2">
        <div id="controls">
            <div id="controls-stage-indicator">
                <ol class="carousel-linked-nav pagination">
                    <li class="indicator active"><a href="#1">1</a></li>
                    <li class="indicator"><a href="#2">2</a></li>
                    <li class="indicator"><a href="#3">3</a></li>
                    <li class="indicator"><a href="#4">4</a></li>
                </ol>
            </div>
        </div>
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption">
                        <h3>"Significant findings that are very concerning"</h3>
                        <p>Suicide rates in California Department of Corrections and Rehabilitation prisons continue to exceed the average rates in U.S. state and federal prisons and are increasing, according to the 14th report on Completed Suicides in the California Department of Corrections and Rehabilitation.</p>
                        <br />
                        <p>The total number of suicides in CDCR prisons from 1999 through 2012 was 437.</p>
                        <br />
                        <p>The annual average number of suicides for the 14-year period was 31.21, or 2.6 suicides per month. That equates to an average of one suicide every 11.7 days over the 14-year period.</p>
                        <br />
                        <p>For all 14 years reviewed, from 1999 through 2012, the average rate is 19.42 per 100,000.</p>
                        <br />
                        <p>However the report states trend analysis indicates that the suicide rate in CDCR prisons is worsening.</p>
                    </div>
                    <img src="http://a.scpr.org/i/fe9c9b6fbba4f108f49af91ddbfa7e08/51668-four.jpg" />
                </div>

                <div class="item">
                    <div class="carousel-caption">
                        <h3>"Persistent elevated rate (of suicide) in CDCR prisons"</h3>
                        <p>For four of the first six years that were reviewed by this examiner -- 1999, 2000, 2002 &amp; 2004 -- the CDCR suicide rate per 100,000 was under 16.</p>
                        <br />
                        <p>However, for six of the eight most recent years -- 2005, 2006, 2008, 2010, 2011 &amp; 2012 -- the rate has exceeded 20 per 100,000.</p>
                        <br />
                        <p>A comparison of CDCR prison suicide rates with rates in U.S. Federal Prisons, across all U.S. State prisons, and within other large state prison systems also illustrates the persistent elevated rate in CDCR prisons.</p>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <ul class="chartlist">
                                {{#objects}}
                                <li id="{{year}}">
                                    <a href="#">{{year}}</a>
                                    <span class="count">{{ratenumber}}</span>
                                    <span class="index" style="width: {{ratenumber}}%">({{ratenumber}})</span>
                                </li>
                                {{/objects}}
                            </ul>
                        </div>
                        <div class="span8">
                            <div id="content-display">
                                <p>This chart shows the rate of suicide in California Department of Corrections and Rehabilitation prisons per 100,000 inmates between the years of 1999 and 2012. <strong>Click</strong> the chart for more information about a particular year.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-caption">
                        <h3>"No less abysmal"</h3>
                        <p>Even assuming that the raw number of suicides was a meaningful metric for evaluating the Department’s record in inmate suicide prevention, CDCR’s record in that respect is no less abysmal.</p>
                        <br />
                        <p>The State of California has consistently led the nation in the number of suicide deaths in its prisons by a large margin, as indicated below, with 78 more suicide deaths than Texas, which has the next largest state prison system population, and many more suicide deaths than any of the other 48 state systems and combined U.S. Federal prisons.</p>
                    </div>
                    <div class="row-fluid">
                        <div class="span8 offset2">
                            <table class="table table-bordered table-striped">
                            	<thead>
                            		<tr>
                            			<th class="Prison System-cell">Prison System</th>
                            			<th class="Number of Suicide Deaths-cell">Number of Suicide Deaths</th>
                            		</tr>
                            	</thead>
                            	<tbody>
                            		<tr class="firstRow">
                            			<td class="Prison System-cell">California</td>
                            			<td class="Number of Suicide Deaths-cell">326</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Texas</td>
                            			<td class="Number of Suicide Deaths-cell">248</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">U.S. Federal Prisons</td>
                            			<td class="Number of Suicide Deaths-cell">148</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">New York</td>
                            			<td class="Number of Suicide Deaths-cell">127</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Illinois</td>
                            			<td class="Number of Suicide Deaths-cell">76</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Michigan</td>
                            			<td class="Number of Suicide Deaths-cell">70</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Florida</td>
                            			<td class="Number of Suicide Deaths-cell">68</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Pennsylvania</td>
                            			<td class="Number of Suicide Deaths-cell">66</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Arizona</td>
                            			<td class="Number of Suicide Deaths-cell">61</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Ohio</td>
                            			<td class="Number of Suicide Deaths-cell">59</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Georgia</td>
                            			<td class="Number of Suicide Deaths-cell">57</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Maryland</td>
                            			<td class="Number of Suicide Deaths-cell">50</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Wisconsin</td>
                            			<td class="Number of Suicide Deaths-cell">50</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Connecticut</td>
                            			<td class="Number of Suicide Deaths-cell">46</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Indiana</td>
                            			<td class="Number of Suicide Deaths-cell">40</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Missouri</td>
                            			<td class="Number of Suicide Deaths-cell">39</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Colorado</td>
                            			<td class="Number of Suicide Deaths-cell">36</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Oklahoma</td>
                            			<td class="Number of Suicide Deaths-cell">36</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">New Jersey</td>
                            			<td class="Number of Suicide Deaths-cell">34</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Massachusetts</td>
                            			<td class="Number of Suicide Deaths-cell">33</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Virginia</td>
                            			<td class="Number of Suicide Deaths-cell">32</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Tennessee</td>
                            			<td class="Number of Suicide Deaths-cell">31</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">North Carolina</td>
                            			<td class="Number of Suicide Deaths-cell">27</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">South Carolina</td>
                            			<td class="Number of Suicide Deaths-cell">26</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Arkansas</td>
                            			<td class="Number of Suicide Deaths-cell">25</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Oregon</td>
                            			<td class="Number of Suicide Deaths-cell">23</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Utah</td>
                            			<td class="Number of Suicide Deaths-cell">23</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Mississippi</td>
                            			<td class="Number of Suicide Deaths-cell">21</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Washington</td>
                            			<td class="Number of Suicide Deaths-cell">20</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Idaho</td>
                            			<td class="Number of Suicide Deaths-cell">18</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Iowa</td>
                            			<td class="Number of Suicide Deaths-cell">18</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Delaware</td>
                            			<td class="Number of Suicide Deaths-cell">17</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Nevada</td>
                            			<td class="Number of Suicide Deaths-cell">17</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Alaska</td>
                            			<td class="Number of Suicide Deaths-cell">16</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Hawaii</td>
                            			<td class="Number of Suicide Deaths-cell">16</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Minnesota</td>
                            			<td class="Number of Suicide Deaths-cell">16</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">New Mexico</td>
                            			<td class="Number of Suicide Deaths-cell">16</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Louisiana</td>
                            			<td class="Number of Suicide Deaths-cell">15</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Rhode Island</td>
                            			<td class="Number of Suicide Deaths-cell">15</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Kansas</td>
                            			<td class="Number of Suicide Deaths-cell">13</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Alabama</td>
                            			<td class="Number of Suicide Deaths-cell">12</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Kentucky</td>
                            			<td class="Number of Suicide Deaths-cell">11</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Montana</td>
                            			<td class="Number of Suicide Deaths-cell">9</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">South Dakota</td>
                            			<td class="Number of Suicide Deaths-cell">9</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">New Hampshire</td>
                            			<td class="Number of Suicide Deaths-cell">8</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Vermont</td>
                            			<td class="Number of Suicide Deaths-cell">5</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Wyoming</td>
                            			<td class="Number of Suicide Deaths-cell">4</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Nebraska</td>
                            			<td class="Number of Suicide Deaths-cell">3</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">West Virginia</td>
                            			<td class="Number of Suicide Deaths-cell">3</td>
                            		</tr>
                            		<tr>
                            			<td class="Prison System-cell">Maine</td>
                            			<td class="Number of Suicide Deaths-cell">2</td>
                            		</tr>
                            		<tr class="lastRow">
                            			<td class="Prison System-cell">North Dakota</td>
                            			<td class="Number of Suicide Deaths-cell">1</td>
                            		</tr>
                            	</tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-caption">
                        <h3>Read the Report</h3>
                        <p>This is the fourteenth Report on Completed Suicides in the California Department of Corrections and Rehabilitation (CDCR or Department) by the special master’s expert. It is submitted as part of the special master’s continuing review of the defendant’s compliance with court-ordered remediation in the matter of Coleman v. Brown, No. CIV S-90-0520 LKK JSM P (E.D.Cal).</p>
                    </div>
                    <iframe src="https://docs.google.com/file/d/0B68qwSArzKP9YTBMVjBDRmhVcWc/preview" width="640" height="800"></iframe>
                </div>


            </div>
            <a class="carousel-control left controls-arrow hidden-phone hidden-tablet" href="#myCarousel" data-slide="prev">&lt;</a>
            <a class="carousel-control right controls-arrow hidden-phone hidden-tablet" href="#myCarousel" data-slide="next">&gt;</a>
        </div>
    </div>
</div>