{{#objects}}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>{{category}}</h3>
        <div class="row">
            {{#each nominees}}
                <div id="nominee-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <img id="{{category}}" src="{{movieimage}}" alt="{{nominee}}" />
                    <p class="centered"><strong>{{nominee}}</strong></p>
                    {{#if awardswon}}
                        <p><strong>Awards won:</strong> <span class="italics">{{awardswon}}</span></p>
                    {{else}}
                        <p>&nbsp;</p>
                    {{/if}}
                    {{#if prediction}}
                        <p><strong>Prediction</strong>: {{prediction}} - <span class="italics"><a href="{{predictionlink}}" target="_blank">{{predictionsource}}</a></span></p>
                    {{else}}
                    {{/if}}
                    <p class="centered">
                        {{#if imdbpage}}
                            <a href="{{imdbpage}}" target="_blank">IMDB</a> |
                        {{else}}
                        {{/if}}
                        {{#if trailer}}
                            <a href="{{trailer}}" target="_blank">Movie Trailer</a> |
                        {{else}}
                        {{/if}}
                        {{#if officialsite}}
                            <a href="{{officialsite}}" target="_blank">Official Site</a>
                        {{else}}
                        {{/if}}
                    </p>
                </div>
            {{/each}}
        </div>
    </div>
{{/objects}}