<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {{#objects}}

        <p><strong>{{dateFormat date}}</strong></p>

        <p>{{agency_name}}<br/>
        {{street_address}}<br/>
        {{city}}, {{state}} {{zip_code}}</p>

        <p><strong>RE</strong>: Request for Public Records</p>

        <p><strong>To Whom It May Concern</strong>:</p>

        <p>Under the California Public Records Act ยง 6250 et seq., I'm requesting the following:</p>

        <blockquote>{{{data_request}}}</blockquote>

        <p>If there are any fees for searching or copying these records, please inform me if the cost will exceed $50. However, I would also like to request a waiver of all fees in that the disclosure of the requested information is in the public interest and will contribute significantly to the public's understanding. I am a representative of the news media and my request is related to news-gathering purposes. This information is not being sought for commercial purposes.</p>

        <p>The California Public Records Act requires a response within ten business days. If access to the records I am requesting will take longer, please contact me with information about when I might expect copies of the requested records. If the information can be released immediately, please do so.</p>

        <p>If you deny any or all of this request, please cite each specific exemption you feel justifies the refusal to release the information and notify me of the appeal procedures available to me under the law.</p>

        <p>Sincerely:</p>

        <p>{{{reporter_signature}}}</p>

        <p>cc: Southern California Public Radio attorney Vikram Bhagat</p>

    {{/objects}}
</div>
