{{#objects}}
    <tr id="{{release}}">
      <td><tspan x="21">{{release}}</tspan></td>
      <td id="0">{{jan}}</td>
      <td id="1">{{feb}}</td>
      <td id="2">{{mar}}</td>
      <td id="3">{{apr}}</td>
      <td id="4">{{may}}</td>
      <td id="5">{{jun}}</td>
      <td id="6">{{jul}}</td>
      <td id="7">{{aug}}</td>
      <td id="8">{{sep}}</td>
      <td id="9">{{oct}}</td>
      <td id="10">{{nov}}</td>
      <td id="11">{{dec}}</td>
    </tr>
{{/objects}}