<table class="table">
    <thead>
        <th>Year Issued</th>
        <th>Bond Principal</th>
        <th>Length to Maturity</th>
        <th>Bond Payoff</th>
        <th>Debt Service Ratio</th>
    </thead>
    <tbody id="debt-table-content">
        {{#objects}}
        <tr id="{{sale_year}}" class="bar-group">
            <td>{{sale_year}}</td>
            <td>${{addCommas cab_principal}}</td>
            <td>{{maturity_length}}</td>
            <td>${{addCommas cab_debt}}</td>
            <td>{{debt_to_principal}}%</td>
        </tr>
        {{/objects}}
    </tbody>
</table>