{{debug}}

<a id="Crime &amp; Public Safety">
    <h3 class="section-title">Crime &amp; Public Safety</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Crime & Public Safety'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}


<a id="Culture">
    <h3 class="section-title">Culture</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Culture'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Economy &amp; Money">
    <h3 class="section-title">Economy &amp; Money</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Economy & Money'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Education">
    <h3 class="section-title">Education</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Education'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Environment &amp; Science">
    <h3 class="section-title">Environment &amp; Science</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Environment & Science'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="General">
    <h3 class="section-title">General</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'General'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Health">
    <h3 class="section-title">Health</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Health'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Politics">
    <h3 class="section-title">Politics</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Politics'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Seasonal">
    <h3 class="section-title">Seasonal</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Seasonal'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}

<a id="Transportation">
    <h3 class="section-title">Transportation</h3>
</a>
    {{#objects}}
        {{#if projectorder}}
            {{#is projecttopic 'Transportation'}}
                <div class="row-fluid">
                    <div class="{{projecttopic}}">
                        {{#if projectimage}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="{{projectimage}}" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{else}}
                            <div class="span3">
                                <h4 class="kicker">{{projecttype}}</h4>
                                <img src="https://si0.twimg.com/profile_images/1545969777/kpcc-twitter-logo.png" alt="{{projecttitle}}" />
                            </div>
                            <div class="span9">
                                <h3><a href="{{promotedurl}}" target="_blank">{{projecttitle}}</a></h3>
                                <p><span class="data-instructions">By {{projectbylines}}</span></p>
                                <p>{{truncate projectdescription 250 " ... "}}<br />
                                {{#if readmoreurl}}
                                    <a href="{{readmoreurl}}" target="_blank"><strong>Read more</strong></a></p>
                                {{else}}
                                    </p>
                                {{/if}}
                                <p><span class="data-instructions">Created: {{projectcreated}}</span></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <hr></hr>
            {{else}}
            {{/is}}
        {{else}}
        {{/if}}
    {{/objects}}