{{#objects}}
    <div class="bill">
        <h4>{{title}}</h4>
        <p><strong>Chamber:</strong> {{chamber}}</p>
        <p><strong>Type:</strong> {{type}}</p>
        <p><strong>last update:</strong> {{timeago updated_at}}</p>
    </div>

    <div class="voting-module">
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
        <form action="https://script.google.com/macros/s/AKfycbwOv6r6cMgRzsHL_jBnzVlWeHQ68-S9bEz-_9NptvI9Ax2O4s-1/exec" method="POST" id="ss-form" target="hidden_iframe" class="form-inline">
            <button class="btn btn-success" name="thumbs_up" value="{{id}}"  id="thumbs_up" type="submit">
                <i class="icon-black icon-thumbs-up"></i>&nbsp;I Support&nbsp;<span>(9)</span>
            </button>
            <button class="btn btn-danger" name="thumbs_down" value="{{id}}" id="thumbs_down" type="submit">
                <i class="icon-black icon-thumbs-down"></i>&nbsp;Needs Work&nbsp;<span>(9)</span>
            </button>
        </form>
    </div>

<hr>
{{/objects}}