{{debug}}

{{#objects}}
<!-- begin row -->
<div class="row-fluid">
    <div class="span3">
        <p><img src="http://maps.googleapis.com/maps/api/staticmap?center={{primary_city}},{{primary_state}}&zoom=11&size=300x300&maptype=roadmap
        &markers=color:blue%7C{{primary_city}},{{primary_state}}&sensor=false" /></p>
    </div>
    <div class="span9">
        <p><strong>{{src_first_name}} {{src_last_name}}</strong> from {{primary_city}}:<br />
        <ul>
            <li><strong>{{questions.67b3761fe188.value}}</strong><br />
            {{responses.67b3761fe188}}</li>

            <li><strong>{{questions.2631db581afd.value}}</strong><br />
            {{responses.2631db581afd}}</li>

            <li><strong>{{questions.ad3ac1809eab.value}}</strong><br />
            {{responses.ad3ac1809eab}}</li>

            <li><strong>{{questions.b22a5a56df6e.value}}</strong><br />
            {{responses.b22a5a56df6e}}</li>

            <li><strong>{{questions.f2c1da7d3772.value}}</strong><br />
            {{responses.f2c1da7d3772}}</li>

            <li><strong>{{questions.fc93b011394b.value}}</strong><br />
            {{responses.fc93b011394b}}</li>
        </ul>
    </div>
</div>
<!-- end row -->

<hr></hr>

{{/objects}}