<!-- begin row -->
<div class="row-fluid">
<p>Bank name: {{name}} ({{bank_city}}, {{bank_state}})</p>
<p>Purchased by: {{purchaser}} ({{purchaser_city}}, {{purchaser_state}})</p>
<p>Closed: {{month_closed}} {{year}}</p>
<p><a href="{{information}}">Read More</a></p>
</div>
<!-- end row -->