{{debug}}

<h2>{{title}}</h2>
<p>{{bill_id}}</p>
<p>{{chamber}}</p>
<p>{{summary}}</p>

<h4>Sponsors</h4>
{{#sponsors}}
    <p>{{name}}-({{type}})</p>
{{/sponsors}}

<h4>Legislative Actions</h4>
{{#actions}}
    <p>{{action}} - {{actor}} - {{date}}</p>
{{/actions}}

<h4>About this bill</h4>
{{#each type}}
    <p>{{this}}</p>
{{/each}}