{{#objects}}
    <div class="dear-mayor-response {{lowercase responsesf6d5d1c2d738}}">

        <!-- begin row -->
        <div class="row-fluid">
            <div class="span12">
                <p><img src="{{marker}}" /><span class="kicker"><strong> {{responsesf6d5d1c2d738}}</strong></span></p>
            </div>
        </div>

        <div class="row-fluid">

            {{#if primarycity}}
                <div class="span3">
                    <p><img src="http://maps.googleapis.com/maps/api/staticmap?center={{primarylat}},{{primarylong}}&zoom=12&size=300x300&maptype=roadmap
                    &markers=color:blue%7C{{primarylat}},{{primarylong}}&sensor=false&key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8" /></p>
                </div>
                <div class="span9">
                    <p><strong>{{srcfirstname}} {{srclastname}}</strong> from <strong>{{primarycity}}</strong> responded:</p>
                    <p><strong>{{questions9200af1a79cbvalue}}</strong><br />{{responses9200af1a79cb}}</p>
                    <p class="data-instructions">Submitted {{timeago srsdate}}</p>
                </div>
            {{else}}

                <div class="span3">
                    <p><img src="http://projects.scpr.org/static/static-files/images/series-icons/dear_mayor.png" /></p>
                </div>
                <div class="span9">
                    <p><strong>{{srcfirstname}} {{srclastname}}</strong> responded:</p>
                    <p><strong>{{questions9200af1a79cbvalue}}</strong><br />{{responses9200af1a79cb}}</p>
                    <p class="data-instructions">Submitted {{timeago srsdate}}</p>
                </div>
            {{/if}}

        </div>
        <!-- end row -->

        <hr></hr>

    </div>
{{/objects}}