{{debug}}

{{#objects}}
    {{> contributors}}
{{/objects}}

<hr>

{{#everyNth objects 4}}
    {{#if isModZeroNotFirst}}
        </div>
    {{/if}}

    {{#if isModZero}}
        <div class="row-fluid">
    {{/if}}

    <div class="span3">
        <li>{{Contributor_First_Name}} {{Contributor_Last_Name}}</li>
    </div>

    {{#if isLast}}
        </div>
    {{/if}}
{{/everyNth}}




<!--

<div class="row-fluid">
    <div class="span8 offset2">
        <div class="mayoral-candidate">
            <p><img scr="#" width="75px" height="75px" alt="#" /><span class="candidate-title"> Wendy Greuel</span></p>

            <div id="large-mayoral-donors">
                {{#objects}}
                    {{#is Candidate_Last_Name 'Greuel'}}
                        {{#gte Amount_Rcvd 700}}
                            <div class="span2" style="clear:both;">>
                            <img scr="#" width="75px" height="75px" alt="#" /><br />{{Contributor_First_Name}}  {{Contributor_Last_Name}}
                            </div>
                        {{else}}
                        {{/gte}}
                    {{/is}}
                {{/objects}}
            </div>

            <div id="small-mayoral-donors">
                {{#objects}}
                    {{#is Candidate_Last_Name 'Greuel'}}
                        {{#lt Amount_Rcvd 700}}
                            <div class="span2">
                            <ul>
                                <li>{{Contributor_First_Name}}  {{Contributor_Last_Name}}</li>
                            </ul>
                            </div>
                        {{/lt}}
                        {{else}}
                    {{/is}}
                {{/objects}}
            </div>
        </div>
    </div>
</div>

-->
