<select id="search-congressional-delegation" onchange="scrollToRep(this.value);">
    <option value="#data-details">Scroll to an instance</option>
    {{#objects}}
        <option value="#{{speaker_first}}_{{speaker_last}}_{{number}}">{{speaker_first}} {{speaker_last}} ({{speaker_party}}) - {{dateFormat date}}</option>
    {{/objects}}
</select>

<script type="text/javascript">
$(document).ready(function() {

	//Calculate the height of <header>
	//Use outerHeight() instead of height() if have padding
    var aboveHeight = $('header').outerHeight();

	// when scroll
    $(window).scroll(function(){

		//if scrolled down more than the header's height
        if ($(window).scrollTop() > aboveHeight){

			// if yes, add "fixed" class to the <nav>
			// add padding top to the #content (value is same as the height of the nav)
            $('#content-action-bar').addClass('fixed').css('margin','0');

        } else {

			// when scroll up or less than aboveHeight, remove the "fixed" class, and the padding-top
            $('#content-action-bar').removeClass('fixed').css('margin','0px 10% 0px 10%');
        }
    });
});
</script>