<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {{#objects}}
        {{#if statement }}
            <div class="row">
                <div id="team-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="image-container" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <a href="{{teamwebsite}}" target="_blank"><img class="placemark" src="images/{{logo}}" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <h3><a href="{{teamwebsite}}" target="_blank">{{team}}</a></h3>
                        <p>{{statement}}<br /> &ndash; <a href="{{source}}" target="_blank">{{attributedto}}</a> via {{type}} on {{date}}</p>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="row">
                <div id="team-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="image-container" class="col-xs-12 col-sm-10 col-md-2 col-lg-2">
                        <a href="{{teamwebsite}}" target="_blank"><img class="placemark" src="images/{{logo}}" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <h3><a href="{{teamwebsite}}" target="_blank">{{team}}</a></h3>
                        <p>{{statement}}<br /> &ndash; <a href="{{source}}" target="_blank">{{attributedto}}</a> on {{date}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/objects}}
</div>